<h1 [innerHTML]="titre"></h1>

<img src="imageUrl" alt="Mon image">

<p [ngClass]="nomClasse">Ceci est une application</p>

<button [disabled]="bouton">Mon bouton</button>

<button (click)="onclick()">Mon bouton</button>

<br><br>

<button (click)="cacherDetails()" *ngIf="detailBouton; else faux">Cacher détails</button>
<ng-template #faux> <button (click)="cacherDetails()">Montrer détails</button> </ng-template>


<table>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th *ngIf="detailBouton">Email</th>
        <th *ngIf="detailBouton">Telephone</th>
        <th *ngIf="detailBouton">Age</th>
    </tr>

    <tr *ngFor="let u of utilisateur">
        <td>{{u.nom}}</td>
        <td>{{u.prenom}}</td>
        <td *ngIf="detailBouton">{{u.email}}</td>
        <td *ngIf="detailBouton">{{u.tel}}</td>
        <td *ngIf="detailBouton">{{u.age}}</td>
    </tr>

</table>

<br>

<input type="text" [(ngModel)]="texteSaisi">
<button (click)="ajouterUser()">Add</button>

<p>{{texteSaisi}}</p>

<br> 


